<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href="/main.css">
        <link rel = "icon" type="image/png" href="/book_icon.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap" rel="stylesheet">
        <title>CBC</title>
    </head>
    <body>
        <%- include('./partials/nav.ejs')%>
        <h1>Edit this Book</h1>
        <a class="btn btn-info" href="/">Back to Community Book Shelf</a>
        <div class="text-center">
            <div class = "book-shelf" style="background-image: url('https://i1.wp.com/hmp.is.it/wp-content/uploads/2013/08/wood.png?ssl=1')">
                <form action="/<%=book.id%>?_method=PUT" method="POST">
                    <% if (book.img == '') {%>
                        <!--  NOTE: the form is pre-populated with values for the server-->
                        <img src="/unknown_book.png" width = "300px">
                        <br>
                        <div class="col-sm-4">
                            <h5 class="text-white">Book Title: <input type="text" name="title" value="<%=book.title%>"></h5>
                        </div>
                        <br>
                        <div class="col-sm-4">
                            <h5 class="text-white">Book Author: <input type="text" name="author" value="<%=book.author%>"></h5>
                        </div>
                        <br>
                        <div class="col-sm-4">
                            <h5 class="text-white">Book Genre: <input type="text" name="genre" value="<%=book.genre%>"></h5>
                        </div>
                        <br>
                        <div class="col-sm-4">
                            <h5 class="text-white">Book Image Link: <input type="text" name="img" value="<%=book.img%>"></h5>
                        </div>
                        <br>
                    <% } else { %>
                        <!--  NOTE: the form is pre-populated with values for the server-->
                        <br>
                        <img src="<%=book.img%>" width = "300px">
                        <br>
                        <div class="col-sm-4">
                            <h5 class="text-white">Book Title: <input type="text" name="title" value="<%=book.title%>"></h5>
                        </div>
                        <br>
                        <div class="col-sm-4">
                            <h5 class="text-white">Book Author: <input type="text" name="author" value="<%=book.author%>"></h5>
                        </div>
                        <br>
                        <div class="col-sm-4">
                            <h5 class="text-white">Book Genre: <input type="text" name="genre" value="<%=book.genre%>"></h5>
                        </div>
                        <br>
                        <div class="col-sm-4">
                            <h5 class="text-white">Book Image Link: <input type="text" name="img" value="<%=book.img%>"></h5>
                        </div>
                        <br>
                    <% } %>
                    <input class="btn btn-primary btn-success" type="submit" name="" value="Submit Changes"/>
                </form>
            </div>
        </div>
        <nav>
            <a class="btn btn-info" href="/">Back to Community Book Shelf</a>
        </nav>
    </body>
</html>