<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <nav>
            <%- include('./partials/nav.ejs')%>
        </nav>
        <h1>Book Information</h1>
        Book Title: <%=books.title %>
        <br>
        Book Author: <%=books.author %>
        <br>
        Book Genre: <%=books.genre %>
        <br>
        <form action="/<%=books.id%>/checkout?_method=PUT" method="POST">
            <% if(books.checkedOut == false) {%>
                <input type="submit" value="Checkout Book">
            <% } else { %>
                <p>Book is checked out by <%=books.checkedUser%></p>
                <input type="submit" value="Check in Book">
                <% } %>
        </form>
        <a href="/<%=books.id%>/edit">Edit Book Info</a>
        <form action="/<%= books.id %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE"/>
        </form>
        <nav>
            <a href="/">Back to Book Collection List</a>
        </nav>
    </body>
</html>